/skyline/nbproject/private/
/BFS/nbproject/private/
/BFS/build/
/actividades/nbproject/private/
/actividades/build/
/prueba1/nbproject/private/
/prueba1/build/
/FinalStory/nbproject/private/
/FinalStory/build/
/skyline/build/